body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

.chat-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 8px 8px 0 0;
}
h2{
    font-size: larger;
    color: white;
    text-align: center;
}
.chat-box {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    height: 90%;
    width: 100%; /* độ cao tối đa của khung chat */
    border-bottom: 1px solid #dcdcdc;
}

.chat-message {
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}

.chat-message.user {
    background-color: #e1ffc7;
    align-self: flex-end;
}

.chat-message.other {
    background-color: #f1f1f1;
    align-self: flex-start;
}

.chat-input {
    display: flex;
    padding: 10px;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    margin-right: 10px;
}
.chat-box p {
    background: #007bff;
    color: #fff;
    padding: 10px;
    text-align: left;
    border-radius: 8px 8px 8px 8px; 
}
.chat-input button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #0056b3;
}